<h1> about US </h1>

<%= stylesheet_link_tag "wrapper" %>
<div class='wrapper' id='sonic'>
  <div class='blurred-wrapper'>
    <img class='blurred' src='http://2.bp.blogspot.com/-IixO6EttRfY/T25DaTUWJ-I/AAAAAAAAAUo/1lJ7DuKYS6k/s1600/Sonic_runsmall.png' height='100'></img>
  </div>
  <img class='still' src='http://2.bp.blogspot.com/-IixO6EttRfY/T25DaTUWJ-I/AAAAAAAAAUo/1lJ7DuKYS6k/s1600/Sonic_runsmall.png' height='100'></img>
</div>


